/* CSS file */
.scroll-to-top {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: blue;
  border-radius: 1em;
  opacity: 0;
  margin: 1em auto;
  transform: translateX(-100%);
  transition: opacity 1s ease-in-out, background-color 0.5s ease-in-out,
    transform 1s ease-in-out, box-shadow 0.5s ease-in-out; /* Adjust the duration and easing function as needed */
}

.scroll-to-top.animate {
  opacity: 1;
  background-color: red;

  transform: translateX(0%);
}

.scroll-to-top.animate:hover {
  box-shadow: 0 0 10px 0 black;
}

.scroll-to-top.animate:active {
  box-shadow: 0 0 10px 0 black inset;
}
